extends layout

block body

block scripts
  script.
    const accessToken = '#{user.accessToken}'
    const channelId = '#{user.channelId}'
  
  script(src='/lib/p5.min.js')
  script(src='/ball-class.js')
  script(src='/main.js')
